@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;600&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
* {
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.app{
  padding: 50px 30px;   
}
.title span {
  font-size: 10px;
  font-weight: normal;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.form__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form__btn {
  height: 31px;
  background-color: purple;
  border: 0;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.list__item {
  padding: 7px;
  margin: 7px 0;
  border: 1px solid gray;
  border-radius: 5px;
}